.input{
    font-size: 170%;
    margin: 2%;
    font-family: 'Raleway', sans-serif;
}
.buttons{
    background-color: white;
    color: black;
    border: 2px solid lightblue;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}
.buttons:hover{
    border: 2px solid plum;
}
